html {
  margin: auto;
}

body {
  vertical-align: top;  
  text-align: center;
  /*background-color: #eee;*/
}

h1, .h1 {
  font-size: 2rem;
}

.App {
  margin: 1rem auto;
  text-align: left;
  display: flex-shrink;
  flex: 1;
  background-color: #fff;
  padding: 0 1rem;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.delay-time {
  font-weight: bold;
  font-size: 3em;
  letter-spacing: -2px;  
}

.label {
  font-weight: bold;
}

.label-row {
  display: block;
}

.form-card {
  padding: 1rem;
}

.written-by {
  font-style: italic;
  margin-top: 1rem;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  h1, .h1 {
    font-size: 2.5rem;
  }

  .App {
    margin: 2rem auto;
    padding: 1rem;
  }
} 
